<form method="post" action="{{ path('app_admin_commentaire_delete', {'id': commentaire.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer le commentaire?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commentaire.id) }}">
    <button class="btn btn-primary">Supprimer</button>
</form>
